*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba(255,255,255,.1);
    backdrop-filter: blur(15px);

    border-bottom: 1px solid rgba(255,255,255,.15);

    z-index: 1000;
}

.headerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: transparent;
}

.navSide nav ul{
    display: flex;
    gap: 55px;
}

.navSide nav ul li{
    list-style: none;
}

.navSide nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
}

.navSide nav ul li a:hover{
    color: #F9A825;
}